.myForm {
    background-color: lightgray;
    padding: 10px;
}

.myForm>button,
.myForm>header {
    padding: 1em;
    background: black;
    border: 0;
    color: white;
}

.myForm>header {
    text-align: center;
    grid-area: 1/1/2/3;
}

.myForm {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: auto;
    gap: 10px;
}

fieldset {
    /* grid-column: span 3; */
    grid-area: auto/auto/auto/span 2;
}

.myForm>button {
    grid-area: auto/auto/auto/span 2;
}